@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

.profile {
    max-width: 600px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #cccccc
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
h1 {
color: darkblue;
text-align: center;
font-size: 2rem; /* new */
margin-bottom: 0.5rem; /* new */
}


h2 {
color: #333333;
text-align: center;
font-size: 1.5rem; /* new */
margin-top: 0; /* new */
}


h3 {
text-align: center;
font-size: 1.2rem; /* new */
margin-top: 1.5rem; /* new */
}


p, li {
line-height: 1.6; /* new */
font-size: 1rem;
}
img {
    display: block;
    margin: 0 auto;
}
