@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

.profile {
    max-width: 600px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #cccccc
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
h1 {
color: darkblue;
text-align: center;
font-size: 2rem;
margin-bottom: 0.5rem;
}


h2 {
color: #333333;
text-align: center;
font-size: 1.5rem;
margin-top: 0

}

h3 {
text-align: center;
font-size: 1.2rem;
margin-top: 1.5rem;
}

p, li {
font-size: 1rem;
}
img {
    display: block;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    align-items: center
}

.profile-text {
    flex: 1;
}

.info-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;

} 

.info-row .courses, .info-row .contact {
    flex: 1;
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
}

@media (max-width: 600px) {
    
    .profile-header {
        flex-direction: column;
    }

    .info-row {
       grid-template-columns: 1fr;

    }

    img {
        width: 100%;
        max-height: 250px;
        height: auto;
    }

    h1 { font-size: 0.8rem; }
     h2 { font-size: 0.8rem; }
}

.highlight {
    border: 2px solid rgb(5, 139, 0);
    background-color: #e8f0ff;
    padding: 10px;
    border-radius: 16px;

}

/* Message section box */
.message-section {
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* Form layout */
#messageForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Inputs */
#messageForm input,
#messageForm textarea {
  padding: 8px;
  border: 1px solid #aaa;
  font-family: inherit;
  font-size: 1rem;
}

/* Button */
#messageForm button {
  padding: 8px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
}

/* Status text */
#status {
  margin-top: 8px;
  font-weight: bold;
}
